.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.aboutusText {
  max-width: 1500px;
  padding: 25px;
}

.mainImg img {
  max-width: 300px;
}

.boxWithImage {
  display: flex;
  border: 2px solid blueviolet;;
  padding: 30px;
}
